.card {
  /* font-family: 'Karla', sans-serif; */
  font-family: 'Hammersmith One', sans-serif;
  align-content: center;
}

/* .card-content {
    color: white;
    text-shadow:
    -1px -1px 0 #FF,
    1px -1px 0 #FF,
    -1px 1px 0 #FF,
    1px 1px 0 #FF;
} */

#item_search_bar {
  position: relative;
  left: 900px;
  top: 0px;
}

#item_search_field {
  border-radius: 25px;
  border: 2px solid black;
  padding: 20px;
  width: 200px;
  height: 15px;
}

.nav-btn {
  margin-left: 10px;
}

.move-card {
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 1;
}

.box-card {
  background-image: url("/images/logo-draft.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 1;
  /* background-position: 100%; */
}

/* #box-cont {
  background: url("/images/rotated.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
} */


.card-title {
  padding-top: 90px;
}

.delete-move-btn {
  position: relative;
  bottom: 0px;
  right: 0px;
}

.edit-move-btn {
  position: relative;
  bottom: 0px;
  right: 0px;
  margin: 5px;
}

/*.small-actions {
  margin-right: 156px;
  margin-bottom: 25px;
} */

.nav-btn {
  margin: 2px;
  margin-right: 5px;
}

.cont-title {
  font-family: 'Hammersmith One', sans-serif;
}

/* #logo {
  width: 5%;
  margin-top: 1.2px;
  margin-right: 20px;
} */

div#editor {
  display: none
}

/* .submit-btn {
  padding-top: 27px;
  padding-left: 100px;
} */

/* .new-move-form {
  display: block;
  padding-left: 260px;
} */

.see-boxes-btn {
  color: #ec407a;
  /* font-family: 'Karla', sans-serif; */

}

.see-boxes-btn-text {
    font-family: 'Hammersmith One', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}